#app{
    width: 100%;
    height: 100%;
    background-image:
        linear-gradient(to bottom,
        #009688 0px,
        #009666 15vh,
        #DDDBD1 15vh,
        #D2DBDC 100%);
        font-family: 'Lato', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
}

#app>.container{
    width: 100%;
    height: calc(100vh - 60px);
}

.contact .contact-header,
.chat .chat-header {
    background-color: #EAEAEA;
}

.contacts .contact-notification{
    background-color: #8EDAFC;
}

.contacts .contact-search{
    background-color: #FAFAFA;
}

.chat .chat-sendmessage {
    background-color: #F3EEEA;
}

.contacts .contact-header,
.contacts .contact-notification{
    height: 5%;
}

img{
    height: 50px!important;
}

/* debug */

.dbg{
    border: 1px solid red;
}