<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.3.0/luxon.min.js"
        integrity="sha512-KKbQg5o92MwtJKR9sfm/HkREzfyzNMiKPIQ7i7SZOxwEdiNCm4Svayn2DBq7MKEdrqPJUOSIpy1v6PpFlCQ0YA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="./css/style.css">
    <title>Boolzapp</title>
</head>

<body>

    <div id="app">

        <div class="container bg-white mt-4">
            <div class="row d-flex flex-wrap h-100">
                <div class="col-12 col-md-4 border-end contacts h-100">
                    <div class="row">
                        <div class="col-12 contact-header d-flex align-items-center">
                            <img src="./img/avatar_io.jpg" alt="io" class="rounded-circle">
                            <div class="flex-grow-1 ps-1">
                                <strong>Nome utente</strong>
                            </div>
                            <div class="icons">
                                <i class="fa-solid fa-circle-notch"></i>
                                <i class="fa-solid fa-message"></i>
                                <i class="fa-solid fa-ellipsis-v"></i>
                            </div>
                        </div>
                        <div class="contact-notification col-12 d-flex align-items-center">
                            <div class="square rounded-circle d-flex justify-content-center-align-items-center">
                                <i class="fa solid fa-bell-slash"></i>
                            </div>
                            <div class="flex-grow-1 lh-1 ps-1">
                                <span>Ricevi notifiche di nuovi messaggi</span>
                                <a href="">
                                    <small class="time text-body-secondary">Attiva le notifiche desktop</small>
                                </a>
                            </div>
                        </div>
                        <div class="contact-search col-12 d-flex justify-content-center p-3">
                            <div class="input-wrapper w-100 p-1 d-flex align-items-center">
                                <label for="search" class="search-label small-icons">
                                    <i class="fa-solid fa-search" aria-hidden="true"></i>
                                </label>
                                <input type="text" id="contacts-filter" class="flex-grow-1 border border-0"
                                    placeholder="Cerca o inizia una nuova chat" name="search">
                            </div>
                        </div>
                        <div class="contact-list col-12">
                            <div class="row h-100 overflow-y-auto">
                                <div class="row">
                                    <div class="contact d-flex align-items-center col-12"
                                        v-for="(contact,index) in contacts" :key="contact.id">
                                        <img :src="contact.avatar" :alt="contact.name" class="rounded-circle">
                                        <div class="contact-info d-flex justify-content-between flex-grow-1">
                                            <div class="p-1 lh-1 ps-1">
                                                <strong>{{contact.name}}</strong> <br>
                                                <small class="time">ultimo messaggio</small>
                                            </div>
                                            <div class="time">data messaggio</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="chat col-12 col-md-8 h-100">
                    <div class="row h-100">
                        <div class="col-12 chat header d-flex align-items-center">
                            <img :src="contacts[1].avatar" alt="io" class="rounded-circle">
                            <div class="flex-grow-1 lh-1 ps-1">
                                <strong>{{contacts[1].name}}</strong> <br>
                                <small class="time">Ultimo accesso oggi alle 10/01/2020 16:15:22</small>
                            </div>
                            <div class="icons">
                                <i class="fa-solid fa-search"></i>
                                <i class="fa-solid fa-paperclip"></i>
                                <i class="fa-solid fa-ellipsis-v"></i>
                            </div>
                        </div>
                        <div class="col-12 chat-message p-4" style="background-image: url(/img/mine.jpg);">
                            <div class="message-wrapper" :class="msg.status" v-for="(msg, index) in contacts[1].messages" :key="index">
                                <div class="message" :class="msg.status">
                                    <span>{{msg.message}}</span> <br>
                                    <div class="time x-small text-end">{{msg.date}}</div>
                                </div>
                            </div>
                            <!-- <div class="message-wrapper received">
                                <div class="message received">
                                    Ciao!
                                </div>
                            </div> -->
                        </div>
                        <div class="col-12 chat-send message d-flex align-items-center">
                            <div class="icons">
                                <i class="fa-regular fa-smile"></i>
                            </div>
                            <input type="text" class="form-control small" placeholder="Scrivi un messaggio" data-emoji-picker="true">
                            <div class="icons">
                                <i class="fa-solid fa-microphone"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="https://unpkg.com/vue@3.2.47/dist/vue.global.js"></script>
    <script src="./js/script.js"></script>
</body>

</html>